{
  "parser": "babel-eslint",

  "extends": [
    "prettier"
  ],

  "plugins": [
    "prettier",
    "babel"
  ],

  "globals": {
    "Promise": true,
    "Symbol": true,
    "Buffer": true,
    "setTimeout": true
  },

  "rules": {
    "no-warning-comments": ["error", { "terms": ["xxx"], "location": "anywhere" }],
    "quotes": ["error", "single", {"allowTemplateLiterals":true, "avoidEscape": true }],
    "eqeqeq": [2, "smart"],
    "no-eq-null": 0,
    "no-process-env": 0,
    "object-shorthand": 1,
    "no-template-curly-in-string": 1,
    "react/sort-comp": 0,
    "prefer-template": 0,
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "bracketSpacing": false,
        "singleQuote": true,
        "trailingComma": "es5",
        "semi": false
      }
    ]
  }
}
